.container{
	max-width: 800px;
}

#menu {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  #menu div {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
  }
  
  #menu div:hover {
    background: #ddd;
  }
  
  #menu .now {
    background: #eee;
    color: #337ab7;
  }
  
  #menu a {
    display: block;
    padding: 5px 0 5px 0;
    color: inherit;
  }
  
  #menu a:hover {
    text-decoration: none;
  }

.news-box {
    max-height: 300px; /* adjust height */
    overflow-y: scroll; /* enables scroll down */
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa; /* optional */
}